SUBSYSTEM=="backlight", ACTION=="add", RUN+="/usr/bin/chgrp video /sys/class/backlight/*/brightness", RUN+="/usr/bin/chmod g+w /sys/class/backlight/*/brightness"
